@import "./breakpoints.styl"

.aboutPage
  height: 100%
  background-image: linear-gradient(to bottom right, #03359b, black);
  min-height: 100vh
  margin: 0
  width: 100%
  position: absolute

  .aboutText
    position: relative
    padding: 10px
    border: solid
    max-width: 1000px
    margin: 10% auto 0 auto
    +for_breakpoint(small)
      margin-top: 150px
    