.cold
  background-image: linear-gradient(to bottom right, #03359b, black);
  color: #a5c6b8

.hot
  background-image: linear-gradient(to bottom right, yellow, red);
  color: black

div
  font-family: "Ubuntu";