.header
  position: fixed!important
  transition: top 0.3s ease-in-out
  background: black
  width: 100%
  z-index: 100

  .navigation
    display: flex
    margin: 0 auto
    font-family: "Permanent Marker"
    justify-content: space-around
    width: 600px
    
    a
      color: white!important