.portfolioPage
  //background-image: linear-gradient(to bottom right, #03359b, black);
  position: absolute
  width: 100%

  :nth-child(odd)
    img
      order: 1
      padding-left: 20px
    div
      margin-right: 40px

  :nth-child(even)
    img
      padding-right: 20px
    div
      margin-left: 40px
