@import "./breakpoints.styl"

.portfolioPage
  position: absolute
  width: 100%
  +for_breakpoint(small)
    padding: 10px
    
  .projects
    +for_breakpoint(small)
      margin-top: 150px

  :nth-child(odd)
    +for_breakpoint(large)
      img
        order: 1
        padding-left: 20px
      div
        margin-right: 40px

      :nth-child(even)
        img
          padding-right: 20px
        div
          margin-left: 40px
