.projectBlock
  margin: 20px auto
  display: flex
  max-width: 800px
  color: white
  margin-top: 80px
  padding 20px
  border: solid
  background-image: linear-gradient(to bottom right, #03359b, black);
  font-family: Gamja Flower
  font-size: 22px
  position: relative
  
  img
    max-width: 200px
    max-height: 200px

  .modal
    position: relative

  .projectAttachments
    


  .githubIcon
    

    img
      animation-duration: 1s
      top: 50%
      background: white
      padding: 0 !important
      
      &:hover
        cursor: pointer
        animation-name: bounce

  button
    background: none
    border: none
    color: #afaf92
    font-size: 28px

    &:hover
      color: red
      font-size: 30px

.modalBtn
  position: absolute
  right: 0

@keyframes bounce
	0%, 100%, 20%, 50%, 80% 
		transform:         translateY(0)
	40% 
		transform:         translateY(-10px)
	60% 
		transform:         translateY(-5px)